{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <script src="{% static 'js/foundation.js' %}"></script>
</head>
<body>
  <header class="header--form-page">
    {% include "navbar.html" %}  
    <div class="slogan container container--90">
      <div class="slogan--item">
        <h1>
          Start helping the others!<br />
        </h1>
      </div>
    </div>
  </header>
  
  <section class="form--steps">


      <div class="form--steps-instructions">
        <div class="form--steps-container">
          <h3>Important!</h3>
          <p data-step="1" class="active">
            In the description, please tell us about your foundation's target and mission
          </p>
          <p data-step="2">
            Choose the correct type of your organization, and tell us, what you need.
          </p>
          <p data-step="3">
          </p>
          <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
      </div>
      <div class="form--steps-container">
          <form method="post" action="" id="form1">
            {% csrf_token %}
          <div class="form--steps-counter">Krok <span>1</span>/5</div>

            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="">
              <h3>Set up your organization</h3>
              <div class="form-group form-group--inline">
                <label> Name <input type="text" name="name" id="name" /> </label>
                <label> Description <input type="text" name="description" id="description" /> </label>
              </div>
              <div class="form-group form-group--buttons">
                <button type="button" class="btn next-step">Next</button>
              </div>
            </div>

            <!-- STEP 2 -->
            <div data-step="2">
              <h3>Choose a type and needs of organization</h3>
              <div class="form-group form-group">
                {{form1}}
              </div>
              <div class="form-group form-group--buttons">
                <button type="button" class="btn prev-step">Back</button>
                <button type="button" class="btn next-step">Next</button>
              </div>
            </div>



            <!-- STEP 3 -->
            <div data-step="3">
              <h3>Summary</h3>
              <div class="summary">
                <div class="form section">
                  <ul>
                    <li>Name: <span class="summary--text" id="summary_name"></span></li>       
                    <li>Mission: <span class="summary--text" id="summary_description"></span></li>
                    <li>Type: <span class="summary--text" id="summary_type"></span></li>
                    <li>Needs: <span class="summary--text" id="summary_category"></span></li>
                  </ul>
                </div>
              </div>
              <div class="form-group form-group--buttons">
                <button type="button" class="btn prev-step">Back</button>
                <button type="submit" class="btn" id="serverResponse">Submit</button>
              </div>
            </div>

          </form>   
      </div>
      
  </section>    
</body>