<nav class="container container--70">
    <ul class="nav--actions">
      {% if user.is_authenticated %}
      <ul class="nav--actions">
        <li class="logged-user">
          Hello {{user.get_username}}
          <ul class="dropdown">
            <li><a href="{% url 'user_profile' %}#stats">Profile</a></li>
            <li><a href="{% url 'settings' %}">User settings</a></li>
            {% if user.is_superuser %}   
            <li><a href="/admin">Administration panel</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Log out</a></li>
            <li><a href="{% url 'my_inbox' %}">My inbox</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
      <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Log in</a></li>
      <li><a href="{% url 'reset_password' %}" class="btn btn--small btn--without-border">Forgotten password</a></li>
      <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Sign up</a></li>
      {% endif %}
    </ul>

    <ul>
      <li><a href="{% url 'base' %}" class="btn btn--without-border active">Home</a></li>
      <li><a href="#steps" class="btn btn--without-border">What is the page about?</a></li>
      <li><a href="#about-us" class="btn btn--without-border">About us</a></li>
      <li><a href="#help" class="btn btn--without-border">Foundations and organizations</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'add_donation' %}" class="btn btn--without-border">Support organization</a></li>
      <li><a href="{% url 'add_fundation' %}" class="btn btn--without-border">Add organization</a></li>
      <li><a href="{% url 'my_foundation' %}" class="btn btn--without-border" >My foundation</a></li>
      {% else %}
      <li><a href="{% url 'login' %}" class="btn btn--without-border">Support organization</a></li>
      {% endif %}
      <li><a href="{% url 'base' %}#contact" class="btn btn--without-border">Contact us</a></li>
  </nav>