{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>User details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  </head>

  <body>
    <header class="header--main-page">
      {% include "profile_navbar.html" %}  
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Start helping the others!<br />
          </h1>
        </div>
      </div>
    </header>

<section id="stats" class="stats">
    <div class="container container--85">
      <div class="stats--item">
        <em>{{logged_user.first_name}} {{logged_user.last_name}}</em> 
        <em>{{logged_user.email}}</em>
        <h3>Donated bags:</h3>
        <em>{{dq_total}}</em>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
      </div>

      <div class="stats--item">
        
       
        <h3>Supported organizations: <br> 
          {% if supp_fund != 0 %}
          <em>{{supp_fund}}</em>
          {% else %}
          <em>0</em>
          {% endif %}
        </h3>
        {% for bag in bag_per_fund %}
          <p>{{bag.institution__name}} : {{bag.total}}</p>
        {% endfor %}  
      </div>

      <div class="stats--item">
        <h3>The donations to be collected:
          <br> <br>
          <h2>{{all_donations_not_taken_count}}</h2>
        </h3>
        <p name="taken_items">
        {% for donate in all_donations_not_taken %}
        <h4>Num of the bags: {{donate.quantity}}</h4>
        <h4>To organization: {{donate.institution}}</h4>
        <h4>Category: {% for c in donate.categories.all %} {{c}}, {% endfor %}</h4>
        <h4>Date of collection: 
          {% if donate.pick_up_time.exists %}
          {{donate.pick_up_time}}
          {% else %}
          Not given
          {% endif %}
        </h4>
        <h4>
          <form action="" method="post">
          {% csrf_token %}
          {% if donate.is_taken == False %}
             <br>
              <button type="submit" class="btn" name="taken_or_not" value="{{donate.id}}" >Oznacz jako zabrane</button>
          {% else %}
              <button type="submit" class="btn" name="taken_or_not" value="{{donate.is_taken}}">Oznacz jako niezabrane</button>       
          {% endif %}
          </form>
        <br>
        {% endfor %}
        </p>
      </div>
      <div class="stats--item">
        <h3>Donations <br> collected
          <br> <br>
          <h2>{{all_donations_taken_count}}</h2>
        </h3>
        <p name="taken_items">
          {% for donate in all_donations_taken %}
          <h4>Num of the bags: {{donate.quantity}}</h4>
          <h4>To organization: {{donate.institution}}</h4>
          <h4>Category: {% for c in donate.categories.all %} {{c}}, {% endfor %}</h4>
          <h4>Date of collection: 
            {% if donate.pick_up_time.exists %}
            {{donate.pick_up_time}}
            {% else %}
            Not given
            {% endif %}
          </h4>
          <h4>
            <form action="" method="post">
            {% csrf_token %}
            {% if donate.is_taken == False %}
               <br>
                <button type="submit" class="btn" name="taken_or_not" value="{{donate.id}}" >Mark as taken</button>
            {% else %}
                <button type="submit" class="btn" name="taken_or_not" value="{{donate.id}}">Mark as not taken</button>       
            {% endif %}
            </form>
          <br>
          {% endfor %}
          </p>
      </div>

    </div>
  </section>
  </body>
</html>