{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Szczegóły użytkownika</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  </head>


<section id="stats" class="stats">
    <div class="container container--85">
      <div class="stats--item">
        <em>{{logged_user.first_name}} {{logged_user.last_name}}</em> 
        <em>{{logged_user.email}}</em>
        <h3>Oddanych worków:</h3>
        <em>{{dq_total}}</em>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
      </div>

      <div class="stats--item">
        
       
        <h3>Wspartych organizacji: <br> <em>{{supp_fund}}</em></h3>
        {% for bag in bag_per_fund %}
          <p>{{bag.institution_id}}:{{bag.quantity__sum}}</p>
        {% endfor %}  
      </div>

      <div class="stats--item">
        <h3>Przekazane dary:</h3>
        {% for donate in all_donations %}
        <h4>Ilość worków: {{donate.quantity}}</h4>
        <h4>Dla organizacji: {{donate.institution}}</h4>
        <h4>Rodzaj darów: {% for c in donate.categories.all %} {{c}}, {% endfor %}</h4>
        <h4>Termin odbioru: 
          {% if donate.pick_up_time.exists %}
          {{donate.pick_up_time}}
          {% else %}
          Nie podano
          {% endif %}
        </h4>
        <br>
        {% endfor %}
      </div>

    </div>
  </section>
</html>