{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Szczegóły użytkownika</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  </head>



  {% block content %}
  <section class="login-page">
    <h2>Edytuj dane użytkownika</h2>
    <form method="post" action="">
      {% csrf_token %}
      {% for field in form %}
      <div class ="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red"></p>
        {% endfor %}  
      </div>
      {% endfor %}
      <div class="form-group form-group--buttons">
        <a href="{% url 'base' %}" class="btn btn">Wróć do strony głównej</a>
        <button class="btn" type="submit">Edytuj</button>
      </div>
    </form>
  </section>
  {% endblock %}
</html>