{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </head>
  <body>
    <header class="header--form-page">
      {% include "navbar.html" %}
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Give us the things that you don't use <br />
            <span class="uppercase">to people that need them</span>
          </h1>

          <div class="slogan--steps">
            <div class="slogan--steps-title">Just 4 simple steps</div>
            <ul class="slogan--steps-boxes">
              <li>
                <div><em>1</em><span>Choose the things you want get rid of</span></div>
              </li>
              <li>
                <div><em>2</em><span>Pack them</span></div>
              </li>
              <li>
                <div><em>3</em><span>Make your choice which foundation you support</span></div>
              </li>
              <li>
                <div><em>4</em><span>We will take care of the rest!</span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="form--steps">
      <div class="form--steps-instructions">
        <div class="form--steps-container">
          <h3>Important!</h3>
          <p data-step="1" class="active">
            Choose what you want to get rid of, then we know what kind of instututions you can donate
          </p>
          <p data-step="2">
            Choose what you want to get rid of, then we know what kind of instututions you can donate
          </p>
          <p data-step="3">
           Choose only one 
          </p>
          <p data-step="4">Give us the address and time</p>
        </div>
      </div>

      <div class="form--steps-container">
        <div name="form-div" class="form--steps-counter">step <span>1</span>/5</div>

        <form action="{% url 'add_donation' %}" method="post">
          {% csrf_token %}
          <!-- STEP 1: class .active is switching steps -->
          <div data-step="1" class="active">
            <h3>Mark what you want give us</h3>

            <div class="form-group form-group">
              {{form1}}
            </div>
            
            <div class="form-group form-group--buttons">
              <button type="button" class="btn next-step">Next</button>
            </div>
          </div>

          <!-- STEP 2 -->
          <div data-step="2" id="div2">
            <h3>Give us the number of 60l bags that you packed the staff into</h3>

            <div class="form-group form-group--inline">
              <label>
                Number of 60l bags
                <input type="number" name="bags" step="1" min="1" id="bags"/>
              </label>
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Back</button>
              <button type="button" class="btn next-step">Next</button>
            </div>
          </div>



          <!-- STEP 4 -->
          <div data-step="3" id="div3">
            <h3>Choose the organization that you want to support</h3>
          
            
            <div class="form-group form-group--checkbox" id="institution-checkbox">
              <!--<label>
                <input type="radio" name="organization" value="old" id="institution" />
                <span class="checkbox radio"></span>
                <span class="description">
                  <div class="title">Fundacja “Bez domu”</div>
                  <div class="subtitle">
                    Cel i misja: Pomoc dla osób nie posiadających miejsca
                    dsadsazamieszkania
                  </div>
                </span>
              </label>-->
            </div>
            

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Back</button>
              <button type="button" class="btn next-step">Next</button>
            </div>
          </div>

          <!-- STEP 5 -->
          <div data-step="4" id="div4">
            <h3>Give us the address and the time</h3>

            <div class="form-section form-section--columns">
              <div class="form-section--column">
                <h4>Address</h4>
                <div class="form-group form-group--inline">
                  <label> Street <input type="text" name="address" id="street" /> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label> City <input type="text" name="city" id="city"/> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label>
                    Post code <input type="text" name="postcode" id="postcode"/>
                  </label>
                </div>

                <div class="form-group form-group--inline">
                  <label>
                    Phone number <input type="phone" name="phone" id="phone" />
                  </label>
                </div>
              </div>

              <div class="form-section--column">
                <h4>Time of collection</h4>
                <div class="form-group form-group--inline">
                  <label> Date <input type="date" name="data" id="data" /> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label> HOur <input type="time" name="time" id="time"/> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label>
                    Comments
                    <textarea name="more_info" rows="5" id="comment"></textarea>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Back</button>
              <button type="button" class="btn next-step">Next</button>
            </div>
          </div>

          <!-- STEP 6 -->
          <div data-step="5" id="div5">
            <h3>Summary of your donation</h3>

            <div class="summary">
              <div class="form-section">
                <h4>You give:</h4>
                <ul>
                  <li>
                    <span class="icon icon-bag"></span>
                    <span class="summary--text" id="summary-quantity"
                      ></span
                    >
                  </li>

                  <li>
                    <span class="icon icon-hand"></span>
                    <span class="summary--text" id ="summary-institutions"
                      ></span
                    >
                    <input type="number" name="insId" id="insId" hidden/>
                  </li>
                </ul>
              </div>

              <div class="form-section form-section--columns">
                <div class="form-section--column">
                  <h4>Address:</h4>
                  <ul>
                    <li id="street-summary"></li>
                    <li id="city-summary"></li>
                    <li id="postcode-summary"></li>
                    <li id="phone-summary"></li>
                  </ul>
                </div>

                <div class="form-section--column">
                  <h4>Time of collection:</h4>
                  <ul>
                    <li id="data-summary"></li>
                    <li id="time-summary"></li>
                    <li id="comment-summary"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Back</button>
              <button type="submit" class="btn" id="serverResponse">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <footer>
      <div id="contact" class="contact">
        <h2>Contact with us!</h2>
        <h3>Contact form, left your email in the text message :) </h3>
        <form class="form--contact" method="post">
          {% csrf_token %}
          <div class="form-group form-group--50"><input type="text" name="name" placeholder="First name" id="contact-first-name" /></div>
          <div class="form-group form-group--50"><input type="text" name="surname" placeholder="Last name" id="contact-last-name"/></div>

          <div class="form-group"><textarea name="message" placeholder="Message, don't forget about the email" rows="1" id="contact-text"></textarea></div>

          <button class="btn" type="submit">Send</button>
        </form>
      </div>
      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; Jakub Ślawski 2020</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"><img src="{% static 'images/icon-facebook.svg' %}"/></a>
          <a href="#" class="btn btn--small"><img src="{% static 'images/icon-instagram.svg' %}"/></a>
        </div>
      </div>
    </footer>

  </body>
</html>
